#topnumber{
	position: center;
	margin: 0 auto;
	border: 1px solid black;
	width: 200px;
	height: 100px;
}





/*
input{
	display: flex;
	justify-content: center; 
	flex-wrap: wrap;
	align-items: center;
	margin: 0 auto;
	margin-top: 150px;
	height: 90px;
	width: 200px;
	border: 2px solid;
	position: relative;
	
}
*/


button {
    color: white;
    background-color: grey;
    height: 50px;
    width: 50px;
    border: 3px solid white;
    border-radius: 10px;
    font-size: 30px;
}

button:hover {
    color: grey;
    background-color: white;
    border: 3px solid grey;
}